version: 0.1
log:
  level: info
storage:
  filesystem:
    rootdirectory: /registry_data
  delete:
    enabled: true
http:
  addr: 0.0.0.0:5000
  secret: REGISTRY_SECRET
  debug:
    addr: 0.0.0.0:5001
auth:
  token:
    rootcertbundle: /etc/docker/registry/portus.crt
notifications:
  endpoints:
    - name: portus_web
      url: http://HOSTNAME:3000/v2/webhooks/events
      timeout: 2000ms
      threshold: 5
      backoff: 1s
reporting:
  newrelic:
    licensekey: NEW_RELIC
    name: registry
    verbose: true